<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">

        <title>Reportajes Rechazados</title>

        <!--Importar Bootstrap-->
        <link rel="stylesheet" href="../../Resources/Bootstrap/css/bootstrap.min.css">
        <script src="../../Resources/Bootstrap/js/bootstrap.min.js"></script>

        <!--Importar hoja de estilos-->
        <link rel="stylesheet" href="../../Resources/Style/estilos.css">

    </head>
    <body class="bg">
        <div class="container">
            <header class="bg-container">
                <div class="row">
                    <div class="col-12 col-md-3 center">
                        <img src="../../resource/img/pinterest_profile_image.png" alt="Logo Caos News" class="logo"> 
                        <br> <hr class="hr-noticia">
                        <img src="../../Resources/img/user-avatar.jpg" class="avatar">
                        <div class="descripcion">
                            Cargo: Administrador
                            <br> Nombre: José
                            <br> Apellido: Martínez
                        </div>
                    </div>
                    <div class="col-12 col-md-9">                       
                        <a href="../index.html" class="btn btn-salir">CERRAR SESIÓN</a>
                        <a href="#" class="btn btn-salir">NUEVO COLABORADOR</a>
                        <div class="ventanas">
                            <ul class="nav nav-tabs">
                                <li class="nav-item inactivo ">
                                    <a class="nav-link" aria-current="page" href="administrador_solicitudes.html">| Solicitudes</a>
                                </li>
                                <li class="nav-item inactivo ">
                                    <a class="nav-link" href="administrador_aprobados.html">| Reportajes Aprobados</a>
                                </li>
                                <li class="nav-item activo ">
                                    <a class="nav-link" href="administrador_rechazados.html">| Reportajes Rechazados</a>
                                </li>
                            </ul>
                            <!--Contenido de la pestaña-->
                            <div class="contenido table-responsive">
                                <!--Tabla-->
                                <table class="table">
                                    <thead class="bg-table">
                                        <tr>
                                            <th>Id Reportaje</th>
                                            <th>Título Reportaje</th>
                                            <th>Autor</th>
                                            <th>Fecha Rechazo</th>
                                            <th>Comentario</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th> #10 </th>
                                            <td> Lorem ipsum dolor sit amet.</td>
                                            <td> Francisco Dinamarca </td>
                                            <td> 01/12/2001 </td>
                                            <td class="justificar"> 
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis tortor 
                                                vitae ex semper, ac auctor lacus laoreet. Sed commodo eget dui hendrerit faucibus. 
                                                Nam consequat auctor nibh, maximus suscipit nisl imperdiet sagittis. 
                                            </td>
                                        </tr>
                                        <tr>
                                            <th> #19 </th>
                                            <td> Lorem ipsum dolor sit amet.</td>
                                            <td> Juan Pérez </td>
                                            <td> 20/02/2005 </td>
                                            <td class="justificar">
                                                Maecenas sit amet massa suscipit odio sollicitudin feugiat ut in mauris. Donec 
                                                pellentesque sit amet eros vel finibus. Vivamus a tortor eget tellus tempor posuere
                                                eleifend sed neque.
                                            </td>
                                        </tr>
                                        <tr>
                                            <th> #35 </th>
                                            <td> Lorem ipsum dolor sit amet.</td>
                                            <td> Gabriela Villegas </td>
                                            <td> 15/03/2006 </td>
                                            <td class="justificar">
                                                Nulla blandit, dui vitae lacinia cursus, mauris diam bibendum ex, et ultrices 
                                                ipsum tortor quis justo. Integer pharetra ante eget tincidunt bibendum. Quisque 
                                                tempor felis sed mi egestas condimentum. Mauris tempus elit a interdum finibus.
                                            </td>
                                        </tr>
                                        <tr>
                                            <th> #59 </th>
                                            <td> Lorem ipsum dolor sit amet.</td>
                                            <td> Camila Castillo </td>
                                            <td> 12/09/2007 </td>
                                            <td class="justificar"> 
                                                Nulla blandit, dui vitae lacinia cursus, mauris diam bibendum ex, et ultrices 
                                                ipsum tortor quis justo. Integer pharetra ante eget tincidunt bibendum. Quisque
                                                tempor felis sed mi egestas condimentum. Mauris tempus elit a interdum finibus.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>       
                    </div>
                </div>               
            </header>
        </div>
    </body>
</html>